:root {
    --base: #1f2022;
    --back: #3e4147;
    --front: #20bf55;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.base {
    display: flex;
    justify-content: center;
    background-color: var(--base);
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-image: url("./images/Robotilus.svg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-blend-mode: overlay;
    background-position: center;
    background-position-y: 78px;
}

.robot-base {
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 100px;
}

.robot {
    z-index: 3;
}

.gear {
    position: absolute;
}

.gear1 {
    left: 0px;
    top: 35px;
    z-index: 1;
}

.gear2 {
    left: 140px;
    bottom: 105px;
    z-index: 1;
}

.gear3 {
    z-index: 1;
    right: 57px;
    top: 45px;
}

.gear4 {
    z-index: 1;
    right: 0;
    top: 30px;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .base {
        background-size: 300px 300px;
    }

    .robot-base {
        display: flex;
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }

    .gear1 {
        width: 130px;
        left: 0px;
        top: 45px;
    }
    .gear2 {
        width: 100px;
        bottom: 20px;
        left: 105px;
    }

    .gear3 {
        width: 80px;
        right: 45px;
        top: 65px;
    }

    .gear4 {
        width: 50px;
        top: 60px;
    }
}

/*
animations
*/

.gear1 {
    animation: spin 4s linear infinite;
}
.gear2 {
    animation: spin-back 20s linear infinite;
}

.gear3 {
    animation: flip-flop 2s ease infinite;
}

.gear4 {
    animation: flip-flop-back 2s ease infinite;
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin-back {
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes flip-flop {
    50% {
        transform: rotateZ(180deg);
    }
}

@keyframes flip-flop-back {
    50% {
        transform: rotateZ(-180deg);
    }
}
