:root {
    --base: #1f2022;
    --back: #3e4147;
    --front: #20bf55;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.base {
    display: flex;
    justify-content: center;
    background-color: var(--base);

    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.robot-base {
    background-image: url("./images/base.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px 350px;
    background-blend-mode: overlay;
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 100px;
}

.robot svg {
    position: absolute;
    width: 350px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

._404 svg {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    top: 55px;
    display: none;
}

.gear1 svg {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 10;
    top: 128px;
    left: 170px;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .robot-base {
        background-size: 250px 250px;
        display: flex;
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }

    .robot svg {
        width: 240px;
        bottom: 7px;
    }

    ._404 svg {
        width: 220px;
        top: 20px;
    }
}
