.option {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 300px 50px;
    align-content: center;
}

.controls {
    display: flex;
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    width: 250px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 10px;
}

.control-svg {
    width: 25px;
    height: 25px;
}

.control-svg svg {
    height: inherit;
    width: inherit;
}

.control-svg:hover svg path {
    fill: var(--front);
}

.me-photo {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

/*
.control-svg:hover {
    background-color: var(--front);
}
.tab-conversation {
    mask: url("../images/conversation.svg") no-repeat center;
}

.tab-add {
    mask: url("../images/add_friend.svg") no-repeat center;
}

.tab-settings {
    mask: url("../images/settings.svg") no-repeat center;
}

.tab-logout {
    mask: url("../images/logout.svg") no-repeat center;
}
*/

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .option {
        grid-template-columns: 1fr;
    }

    .controls {
        position: absolute;
        width: 150px;
        right: 0;
    }

    .controls > * {
        margin: 0px 7px;
    }

    .control-svg {
        height: 40px;
    }
    .control-svg svg {
        height: inherit;
        width: inherit;
    }

    .me-photo {
        display: none;
    }
}
