.option {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 230px 50px;
    align-content: center;
}

.user-detail {
    background-color: var(--back);
    border-radius: 30px;
    height: 40px;
}
.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
}

.control-svg {
    width: 25px;
    height: 25px;
    background-color: white;
}

.control-svg:hover {
    background-color: var(--front);
}

.tab-conversation {
    mask: url("../images/conversation.svg") no-repeat center;
}

.tab-add {
    mask: url("../images/add_friend.svg") no-repeat center;
}

.tab-settings {
    mask: url("../images/settings.svg") no-repeat center;
}

.tab-logout {
    mask: url("../images/logout.svg") no-repeat center;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .option {
        grid-template-columns: 1fr;
    }

    .user-detail {
        display: none;
    }

    .controls {
        justify-content: flex-end;
    }

    .controls > * {
        margin: 0px 7px;
    }

    .control-svg {
        height: 40px;
    }

    .me-photo {
        display: none;
    }
}
