.template {
    display: grid;
    grid-template-columns: 25vw 71vw;
    grid-template-rows: 10vh 8vh 74vh;
    grid-template-areas:
        "l o"
        "s c"
        "u c";

    padding: 4vh 2vw;
}

.backBtn {
    display: none;
}

.template-logo {
    grid-area: l;
}
.template-options {
    grid-area: o;
    margin-left: 20px;
}

.template-search {
    grid-area: s;
}

.template-users {
    grid-area: u;
}

.template-converstion {
    grid-area: c;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .template {
        display: grid;
        padding: 25px 30px;
        grid-template-columns: 1fr 3fr;
    }

    .m-menu-area {
        grid-template-rows: 10vh 8vh 75vh;
        grid-template-areas:
            "l o"
            "s s"
            "u u";
    }

    .template-converstion {
        grid-area: c;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--base);
    }

    .backBtn {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20px;
        top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: var(--back);
    }
    .backBtn svg {
        width: 40px;
        height: 40px;
        transform: rotateZ(180deg);
    }
}
