.user-detail {
    height: 40px;
    border-radius: 30px;
    align-items: center;
    padding: 0px 15px;
    justify-content: flex-start;
}

.user-detail-show {
    background-color: var(--back);
    color: white;
    display: flex;
}

.user-detail-hidden {
    display: none;
}

.user-detail img {
    width: 30px;
    height: 30px;
}

.user-detail span {
    margin-left: 15px;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
}
