.dot1 {
    animation: dot1 2s linear infinite;
}

.dot2 {
    animation: dot2 2s linear infinite;
}

.dot3 {
    animation: dot3 2s linear infinite;
}

@keyframes dot1 {
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes dot2 {
    25% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes dot3 {
    25% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}
