.template {
    position: absolute;
    right: 0;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 60vw;
    max-width: 60vw;
}

.outer-template {
    -webkit-clip-path: circle(99% at 100% 51%);
    clip-path: circle(99% at 100% 50%);
    background-color: var(--front);
    transform: translateX(500px);
    animation: entry-desktop 400ms ease-in 50ms forwards;
}

.inner-template {
    -webkit-clip-path: circle(93% at 100% 51%);
    clip-path: circle(93% at 100% 50%);
    background-color: var(--back);
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .template {
        right: unset;
        bottom: 0;
        min-width: 100vw;
        max-width: 100vh;
        min-height: 70vh;
        max-height: 70vh;
    }

    .outer-template {
        transform: translateY(300px);
        animation: entry-mobile 400ms ease-in 50ms forwards;
        -webkit-clip-path: circle(99% at 49% 100%);
        clip-path: circle(99% at 50% 100%);
    }

    .inner-template {
        -webkit-clip-path: circle(93% at 49% 100%);
        clip-path: circle(93% at 50% 100%);
    }
}

@keyframes entry-desktop {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes entry-mobile {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0px);
    }
}
